.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $height-header 0;
  width: 100%;
  z-index: 100;

  &__control-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 80px;
    box-sizing: border-box;
  }

  &__nav-btn {
    height: 40px;
    color: $col-btn;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      color: $col-btn-hovered;
    }
  }

  &__date {
    font-size: 1.2rem;
  }

  &__add-event-btn {
    position: fixed;
    right: 2%;
    bottom: 5%;
    height: 50px;
    color: $col-add-event-btn;
    font-size: 50px;
    cursor: pointer;
    z-index: 200;

    &:hover {
      color: $col-add-event-btn-hovered;
    }
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    @media (max-width: $screen-lg) {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  }

  &__day-names {
    width: 14%;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
  }

  &__day {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-left: 1.5rem;
    width: 90%;
    max-width: 500px;
    height: 400px;
    font-size: 16px;
    border: 1px solid $border-col-day;
    cursor: pointer;

    @media (min-width: $screen-lg + 1) {
      width: 14%;
      height: 200px;
      font-size: 12px;
    }

    &_not-current_month {
      background-color: $bg-col-day-not-current;
      opacity: .8;
    }
  }

  &__day-of-week {
    position: absolute;
    top: 0;
    left: .2rem;
  }

  &__day-name {
    display: block;
    font-size: 1rem;
  }

  &__day-number {
    display: block;
    font-size: 1.5rem;

    &_current {
      color: $col-active;
    }
  }

  &__day-content {
    padding-left: 16px;
    height: 90%;
    z-index: -1;
    overflow-y: hidden;

    @media (max-width: $screen-lg) {
      margin-top: 40px;
      padding: 16px;
      width: 100%;
      height: 220px;
      overflow: scroll;
      z-index: 1;
    }

    @media (max-width: $screen-sm) {
      padding: 16px 0;
    }
  }

  &__day-events {
    margin: 0;
    padding: 0;

    @media (max-width: $screen-lg) {
      li {
        list-style-type: none;
      }
    }
  }

  &__day-events-popup {
    margin: 0;
    padding: 1rem;
    height: 220px;
    overflow-y: scroll;

    li {
      padding: .2rem;
      width: 95%;
      text-align: center;
      border-bottom: 1px solid $border-col-li-day;
      list-style-type: none;
    }
  }
}
