.center-container {
  display: flex;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  font-size: 1rem;

  h2 {
    text-align: center;
  }

  .auth-tip {
    padding: 0.5rem;
    text-align: center;
  }

  .list-sm {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .btn {
    position: relative;
    margin-bottom: 0.5rem;
    width: 12rem;
    height: 40px;
    border: 1px solid $silver;

    &::before {
      position: absolute;
      top: 5%;
      left: 10%;
    }
  }

  .btn.facebook-social {
    &::before {
      content: url('/src/images/icons/facebook-32px.png');
    }
  }

  .btn.google-social {
    &::before {
      content: url('/src/images/icons/google-32px.png');
    }
  }
}
