header {
  flex: 0 0 auto;
  height: $headerHeight;
}

#header-back {
  position: fixed;
  width: 100%;
  height: $headerHeight;
}

.menu-position {
  position: fixed;
  width: 100%;
  height: inherit;
  z-index: 1500;
}

.navbar-expand-lg {
  position: relative;
  background-color: inherit;
  @media (min-width: 1230px) {
    width: 1230px;
  }
}

.menu-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.search {
  position: absolute;
  top: .6rem;
  right: 6rem;
  width: 32px;
  height: 32px;
  background-image: url('/src/client/images/icons/search.png');
}

@import 'accessForm';
