header {
  position: fixed;
  flex: 0 0 auto;
  width: 100%;
  max-width: $maxContentWidth;
  height: $headerHeight;
}

#header-back {
  position: fixed;
  width: 100%;
  height: $headerHeight;
}

.menu-position {
  position: relative;
  height: inherit;
  z-index: 1040;
}

.navbar {
  background-color: $blue;
}

.navbar-expand-lg {
  position: relative;
  background-color: inherit;
  @media (min-width: 1230px) {
    width: $maxContentWidth;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0.1rem;
  color: $white;
  @media (min-width: 992px) {
    padding-top: 0;
  }

  &:hover {
    color: $white;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: $white;

  &:hover {
    color: $white;
  }

  &:active {
    color: $white;
  }
}

.navbar-dark {
  .navbar-toggler {
    border: 1px solid $silver;
  }
}

.menu-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.search {
  position: absolute;
  top: .6rem;
  right: 6rem;
  width: 32px;
  height: 32px;
  background-image: url($searchIcon);
}

@import 'accessForm';
