@import 'variables';
@import '~bootstrap/scss/bootstrap';

html,
body {
  min-height: 100vh;
  @media (max-width: 992px) {
    font-size: 12px;
  }
}

#app {
  display: flex;
  width: 100%;
  min-height: inherit;
  @media (min-width: 1230px) {
    justify-content: center;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 1230px) {
    width: $maxContentWidth;
  }
}

@import 'header';

main {
  display: flex;
  margin-bottom: 2rem;
  height: 100%;
  @media (min-width: 1366px) {
    justify-content: center;
  }
}

@import 'authForm';
@import 'eventEditor';
@import 'eventBio';
@import 'calendar';
