// geometry
$basisWidth: 100%;
$width-wrapper: 1230px;
$width-main: 1366px;
$height-header: 3.5rem;

//colors
$black: #000;
$c0c0c0: #c0c0c0;
$red: #f00;
$blue: #00f;
$white: #fff;
$d8d8d8: #d8d8d8;
$f7f7f7: #f7f7f7;
$ebebeb: #ebebeb;
$a9a9a9: #a9a9a9;
$oo7bff: #007bff;
$header-bg-color: #0072ff;
$header-dropdown-menu: $header-bg-color;
$header-dropdown-item: $header-bg-color;

// path to icons
$baseUrl: '/src/client/images';
$icons: '/icons';

$facebookLogo: '#{$baseUrl}#{$icons}/facebook-32px.png';
$googleLogo: '#{$baseUrl}#{$icons}/google-32px.png';
$searchIcon: '#{$baseUrl}#{$icons}/search.png';
$leftArrow: '#{$baseUrl}#{$icons}/left-arrow.png';
$rightArrow: '#{$baseUrl}#{$icons}/right-arrow.png';
$addEventBtn: '#{$baseUrl}#{$icons}/add-event-btn.png';
$copyLinkBtn: '#{$baseUrl}#{$icons}/copy-link-btn.png';

// screens
$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1230px;
