// geometry

$basisWidth: 100%; // demanded fix
$width-wrapper: 1230px;
$width-main: 1366px;
$height-header: 3.5rem;

//colors

$col-active: #f00;

// --layouts
$bg-col-header: #0072ff;
$bg-col-body: #f7f7f7;

// --buttons
$col-btn: $bg-col-header;
$col-close-btn: #dfdfdf;// demanded fix
$col-btn-hovered: #2886fb;
$col-social-btn: #dfdfdf;
$border-col-social-btn: #aba6a6;

//items
$col-li-hovered: $col-btn-hovered;
$bg-col-item-common: #eaeaea;
$border-col-day: #c0c0c0;
$bg-col-day-not-current: #dadada;


// --btn-like fonts
$col-navbar-toggler: #fff;
$col-add-event-btn: #f00;
$col-add-event-btn-hovered: #e64545;

//font
$col-navbar-text: #d8d8d8;
$col-navbar-text-hovered: #fff;
$col-header-text: #fff;
$col-btn-text: $col-header-text;
$col-btn-signin-text: #000;

// path to icons
$base-url: '/src/client/images';
$icons: '/icons';

$facebook-logo: '#{$base-url}#{$icons}/facebook-32px.png';
$google-logo: '#{$base-url}#{$icons}/google-32px.png';
$search-icon: '#{$base-url}#{$icons}/search.png';

// screens
$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1230px;
