.access-form {

  &__content {
    padding: 1rem;
    box-sizing: border-box;
  }

  &__info-text {

  }

  &__gen-link-btn {
    background-color: $theme-bg-0072ff;

    &:hover {
      background-color: $btn-hovered;
    }
  }
}
